$maxWidthSite: 1600px;
$minWidthSiteDesktop: 375px;
$heightHeaderDesktop: 75px;
$minHeightSite: 100vh;
$widthArrow: 47px;
$heightArrow: 47px;

$colorSiteWhite: #FFF;
$colorSelectedDarkGray: #222;
$colorLightGray: #F1E4E6;
$colorSiteBlack: #000;
$colorSelectedPink: #F16D7F;
$colorBackgroundHead:#F8F3F4;
$colorGray:#6F6E6E;
$colorMiddleGray: #9F9F9F;
$colorSelectedLightGray: #FBFBFB;
$colorFeatureImg: #F7E4E2;
$colorBackgroundProduct: #F7F7F7;
$colorBuyBackground: rgba(58, 56, 56, 0.86);
$colorButton:#F26376;
$colorButtonBorder: #FF6A6A;
$colorButtonBackground: #E5E5E5;
$colorHoverButton: #E05C6E;
$colorInputBackground: #E1E1E1;
$colorProductText: #4D4D4D;
$colorPriceText: #EF5B70;
$colorProductLine: #EAEAEA;
$footerBackground: url(../img/footer/bg_subscribe.png), lightgray 0px -169px / 100% 246.875% no-repeat;

$z-indexHeader: 10;