$maxWidthSite: 1600px;
$minWidthSiteDesktop: 375px;
$heightHeaderDesktop: 75px;
$minHeightSite: 100vh;

$colorSiteWhite: #FFF;
$colorSelectedDarkGray: #222;
$colorLightGray: #F1E4E6;
$colorSiteBlack: #000;
$colorSelectedPink: #F16D7F;
$colorGray:#6F6E6E;
$colorMiddleGray: #9F9F9F;
$colorSelectedLightGray: #FBFBFB;
$colorFeatureImg: #F7E4E2;
$colorBuyBackground: rgba(58, 56, 56, 0.86);
$colorButton:#F26376;
$colorButtonBorder: #FF6A6A;
$colorButtonBackground: #E5E5E5;
$colorHoverButton: #E05C6E;
$colorInputBacground: #E1E1E1;
$footerBackground: url(../img/footer/bg_subscribe.png), lightgray 0px -169px / 100% 246.875% no-repeat;

$z-indexHeader: 10;