*{
  margin: 0;
  padding: 0;
}
.top{
  
}

.header{
  padding-top: 39px;
  padding-bottom: 39px;
}

.header-link{

}

.top-content{
  margin-top: 160px;
}

.top-info{

}

.subtitle{

  text-transform: uppercase;color: #3A68B8;
}

.title{

}

.text{

}

.top-buttons{

}

.top-logos{

}