*{
  margin: 0;
  padding: 0;
}
.top{
  padding-bottom: 99px;
}

.header{
  padding-top: 39px;
  padding-bottom: 39px;
}

.header-link{

}

.top-content{
  margin-top: 160px;
  margin-bottom: 197px;
}

.top-info{

}

.subtitle{
  margin-bottom: 10px;

  text-transform: uppercase;color: #3A68B8;
}

.title{
  margin-bottom: 40px;
}

.text{

}

.top-buttons{
  margin-top: 50px;
}

.top-logos{

}