.center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

h1 {
  text-align: center;
}

.item {
  border: 1px solid grey;
  margin: 20px 0 0;
}

.object_title {
  text-align: center;
}

.info {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.btn {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.btn_item {
  padding: 10px 30px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 18px;
}
.btn_item:hover {
  background-color: coral;
}