@import 'vars';
@import 'inheritance';
@import 'cart'; 
@import 'registration';

*{
  margin: 0;
  padding: 0;
}

body{
  @extend %fontSite;
  font-style: normal;
}

a{
  text-decoration: none;
}

summary {
  display: block;
}

  summary::-webkit-details-marker {
  display: none;
}

.box-content{
  overflow: hidden;
}

.container{
  max-width: $maxWidthSite;
  min-width: $minWidthSiteDesktop;
  min-height: $minHeightSite;
  background: $colorSiteWhite;
  position: relative;
}

.header{
  background: $colorSelectedDarkGray;
  margin: 0 auto;
  // padding-left: 14.4%;
  // padding-right: 15%;
  @extend %paddingsLR;
  height: $heightHeaderDesktop;
  @extend %flexItemsCenter;
  justify-content: space-between;
  z-index: $z-indexHeader;
  position: relative;

  .header-left{
    display: flex;
    align-items: center;
  }
  
  &-logo{
    margin-right: 40px;
  }

  &-right{
    display: flex;
    align-items: center;
  }
  
  &-right a{
    margin: 0px 20px;
  }
  
  &-right img{
    height: 23px;
  }

  &-cart{
    /* transition: 0.3s; */
    position: relative;
  }
  
  /* &-cart:active{
    transform: scale(90%, 90%);
  } */
  
  &-cart::after{
    content: '5';
    background: $colorSelectedPink;
    padding: 1px 6px 4px 6px;
    position: absolute;
    top: -8px;
    right: 8px;
    border-radius: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $colorSiteWhite;
  }

  &-burger-menu{
    width: 32px;
    height: 23px;
    margin-right: 20px;
    background-image: url(../img/header/menu.png);
    background-size: cover;
    background-position: center;
  }
}

.burger-menu-block{
  background-color: $colorSiteWhite;
  width: 232px;
  position: absolute;
  top: $heightHeaderDesktop;
  right: 0;
  transition: all 1s;
  padding: 32px 32px 21px 32px;
  z-index: $z-indexHeader - 1;

  & h1, h3{
    text-transform: uppercase;
  }
  
  & h1{
    color: $colorSiteBlack;
    font-size: 14px;
    @extend %fontSite;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }
  
  & h3, h4{
    font-size: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  & h3{
    color: $colorSelectedPink;
    margin-bottom: 12px;
  }
  
  & h4{
    color: $colorGray;
    margin-left: 22px;
    margin-bottom: 11px;

    &:hover{
      color: $colorSelectedPink;
    }
  }

  & :last-child h4:last-child{
    margin-bottom: 0;
  }
}

#check{
  display: none;
}

#check:checked ~ .burger-menu-block{
  top: -100%;
}

.presenter{
  background: $colorLightGray;

  &__main{
    max-width: 1600px;
    max-height: 764px;
    min-height: 363px;
    margin: 0 auto;
    @extend %flexItemsCenter;
    margin-bottom: 65px;
  }

  &__head{
    max-width: $maxWidthSite;
    height: 148px;
    background: $colorBackgroundHead;
    @extend %paddingsLR;
    @extend %flexItemsContentCenter;
    justify-content: space-between;
  
    &_title{
      color: $colorSelectedPink;
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
    }
  
    &__breadcrumbs{
  
      &__unit-link{
        font-size: 14px;
        line-height: 17px;
        color: $colorBreadcrumbsText;
        font-weight: 300;
  
        &:not(:last-child)::after{
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          content: '/';
        }
  
        &:last-child{
          color: $colorSelectedPink;
          font-weight: 700;
        }
      }
    }
  }

  &-photo{
    height: inherit;
    width: 48%;
  }

  &-photo img{
    height: inherit;
  }
  
  &-header{
    border-left: 12px solid $colorSelectedPink;
    width: 48%;
    padding: 1%;
  }
  
  &-header h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: $colorSiteBlack;
  }
  
  &-header h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: $colorSiteBlack;
  }
  
  &-header span{
    color: $colorSelectedPink;
  }  
}

.filters{
  @extend %flexItemsCenter;
  // @extend %paddingsLR;
  box-sizing: border-box;
  height: 133px;
  position: relative;
}

.filter{
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  top: 39px;
  width: 23%;
  left: 14.3%;
  z-index: $z-indexHeader + 1;

  &__heading{
    color: $colorSiteBlack;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
  }

  &[open]{
    background-color: $colorSiteWhite;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, .21);
  }

  &[open] &__heading{
    color: $colorSelectedPink; 
  }  

  &[open] path{
    fill: $colorSelectedPink;
  }  

  &__summary{
    @extend %flexItemsCenter;
    gap: 11px;
  }

  &__item{
    margin: 16px;
  }

  &__subtitle{
    color: $colorGray;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid $colorProductLine;
    border-left: 5px solid $colorSelectedPink;
  }

  &__item[open] &__subtitle{
    color: $colorSelectedPink;
  }

  &__link-box{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
  }

  &__link{
    color: $colorGray;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    &:hover{
      color: $colorSelectedPink;
    }
  }
}

.sort{
  @extend %flexItemsContentCenter;
  color: $colorGray;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;

  &__catalog{
    gap: 16px;
    padding: 7px 16px 16px;
    box-sizing: border-box;
    margin-left: 30.5%;
    position: relative;
  }
 
  & summary::before{
    content: '';
    margin-left: 1.8rem;
  }

  & svg{
    padding-left: 0.5rem;
  }

  &__item{ 
    position: relative;
  }

  // &__summary{

  // }

  // &__heading{
  //   color: $colorGray;
  //   font-size: 14px;
  //   font-weight: 400;
  //   line-height: 17px;
  //   text-transform: uppercase;
  // }

  &__box{
    background: $colorSiteWhite;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 12px 9px;
    position: absolute;
    z-index: $z-indexHeader + 1;
    margin-top: 5px;

    &__product{
      left: 30px;
    }
  
    &__catalog{
      left: 10px;

      &_first{
        left: 28px;
        width: 45%;
      }
    }
  }

  &__checkbox{
    @extend %flexItemsCenter;
    gap: 9px;

    & label{
      color: $colorGray;
      font-family: 'Roboto';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.content{

}

.product{
  height: 777px;
  background-color: $colorBackgroundProduct;
  @extend %flexItemsContentCenter;
  justify-content: space-between;

  &-arrow_left, &-arrow_right{
    @extend %flexItemsContentCenter;
    background-color: #2A2A2A26;
    width: $widthArrow;
    height: $heightArrow;
    padding: 8px;

    & svg:hover path{
      @extend  %flexItemsContentCenter;
      fill: $colorSelectedPink;
    }
  }
}

.product_box{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 601px;
  padding-top: 128px;

  &-card{
    width: 71%;
    background-color: #FFF;
    // z-index: $z-indexHeader + 1;
    position: absolute;
    top: -50px;
    @extend %flexItemsCenter;
    flex-direction: column;
    box-shadow: 0 0 1rem $colorProductLine;

    &-title{
      color: $colorSelectedPink;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    &-subtitle{
      color: $colorProductText;
      font-size: 18px;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 3rem;
    }

    &-text{
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      width: 56%;
      text-align: center;
      color: #5E5E5E;
    }

    &-price{
      width: 56%;
      text-align: center;
      color: $colorPriceText;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
      margin-top: 1.8rem;
      margin-bottom: 4rem;
    }

    &-line{
      width: 56%;
      height: 1px;
      background-color: $colorProductLine;
    }

    &-sort_box{
      @extend %flexItemsContentCenter;
      flex-direction: column;
      padding: 65px 0;
      gap: 65px;
      position: relative;

      &-to_buy{
       @extend %flexItemsContentCenter;    
        width: 212px;
        height: 48px;        

        & button{
          @extend %flexItemsContentCenter;
          width: 100%;
          height: 100%; 
          font-weight: 400;
          padding: 1rem 2rem;
          background: $colorSiteWhite;
          font-size: 16px;
          line-height: 19px;
          color: $colorButton;
          border: 1px solid $colorButtonBorder;
        }

        & button:hover{
          background: $colorLightGray;
        }

        & p{
          color: $colorButton;
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
        }

        // & img{
        // }
      }      
    }
  }
}

.offer{
  margin-bottom: 80px;

  &-block{
    margin: 0 auto;
    @extend %paddingsLR;
    @extend %flexWrapBetween;
  }

  &-description{}

  &-item{
    @extend %flexItemsContentCenter;
    width: 32%;
    min-width: 122px;
    height: 280px;
    margin-bottom: 1%;
  }

  &-item:hover{
    transform: scale(.9);
    transition: .3s;
  }

  &-what {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $colorSiteWhite;
  }
  
  &-for {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $colorSelectedPink;
  } 
  
  .women {
    background-image: url('../img/offer/for_women.png');
    background-size: cover; background-position: center;
  }
  
  .men {
    background-image: url('../img/offer/for_men.png');
    background-size: cover;
    background-position: center;
  }
  
  .kids {
    background-image: url('../img/offer/for_kids.png');
    background-size: cover;
    background-position: center;
  }
  
  .accesories {
    background-image: url('../img/offer/accesories.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
  }
}

.featured{
  margin-bottom: 80px;
  
  &__catalog{
    margin-bottom: 18px;
  }

  &-description{
    text-align: center;
    margin-bottom: 48px;

    & h2{
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: $colorSelectedDarkGray;
    }
    
    & p{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $colorMiddleGray;
    }
  }

  &-items{
    margin: 0 auto;
    @extend %paddingsLR;
    @extend %flexWrapBetween;
    display: flex;
    justify-content: space-between;
  }
  
  &-item{
    width: 32%;
    max-width: 360px;
    max-height: 581px;
    background: $colorSelectedLightGray;
    margin-bottom: 30px;

    & img{
      width: 100%;
    }
  }

  .item-pink-img{
    max-width: 100%;
    max-height: 65.4%;
    background: $colorFeatureImg;
  }
  
  &-img{
    position: relative;
    margin-bottom: 25px;
  }
  
  .to-buy{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: auto;
    height: 100%;
    width: 100%;
    background: $colorBuyBackground;
    opacity: 0;
  
    &:hover{
      opacity: 1;
      transition: 0.6s;
      color: $colorSiteWhite;
      border: 1px solid $colorSiteWhite;
      cursor: pointer;
    }
  }
  
  .to-buy img{
    width: 18px;
    margin-right: 11px;
  } 
  
  .to-buy button{
    padding: 1rem 2rem;
    background-color: transparent;
    color: $colorSiteWhite;
    border: 1px solid $colorSiteWhite;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .btn{
    align-items: center;
  }
  
  &-item h3{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $colorSiteBlack;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 16px;
  }
  
  .description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 16px;
    color: #5D5D5D;
    
  }
  
  .price{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $colorSelectedPink;
  text-align: left;
  margin-left: 18px;
  margin-bottom: 20px;
  }

  .catalog{
    margin: 0 auto;
    @extend %paddingsLR;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .catalog button{
    font-weight: 400;
    padding: 1rem 2rem;
    background: $colorSiteWhite;
    font-size: 16px;
    line-height: 19px;
    color: $colorButton;
    border: 1px solid $colorButtonBorder;

    &:hover{
      background: #E5E5E5;
    }
  }
}

.pages{
  @extend %flexItemsContentCenter;
}

.page-numbers{
  @extend %flexItemsContentCenter;
  width: 283px;
  background: $colorSiteWhite;
  padding: 15px;
  gap: 15px;
  @extend %flexWrapBetween;

  & a{
    color: $colorProductText;

    & :hover{
      color: $colorSelectedPink;
      fill: $colorSelectedPink;
    }
  }
}

.footer{
  &-featers{
    max-width: 1600px;
    height: 341px;
    background: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &-item{
      max-width: 360px;
      height: 134px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & img{
        margin-bottom: 19px;
      }
      
      & figcaption{
        margin-bottom: 16px;
        color: #FBFBFB;
        font-size: 20px;
        font-weight: 400;
      }
      
      & p{
        text-align: center;
        color: #FBFBFB;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  &-subscribe{
    background: $footerBackground;
    background-size: cover;
    width: 100%;
    height: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-info, &-subscribe_block{
      @extend %flexItemsContentCenter;
      flex-direction: column;
      height: 450px;
      }

      &-info{
        max-width: 360px;

        & img{
          margin-bottom: 30px;
        }
        
        & p{
          font-weight: 400px;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #222224;
      }
    }

    &-subscribe_block{
      max-width: 560px;

      & figcaption{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 167.2%;
      }
      
      & p{
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 32px;
      }
    }

    &-form{
      @extend %flexItemsCenter;

      input{
        background-color: $colorInputBackground;
        height: 50px;
        width: 240px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 6px 64px 7px 22px;
        border: none;
        box-sizing: border-box;
        @extend %fontSite;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;

        &:focus{
          outline: 1px solid $colorSelectedPink;
        }
      }

      button{
        height: 50px;
        min-width: 220px;
        background-color: $colorSelectedPink;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border: none;
        color: #FFF;
        text-align: center;
        @extend %fontSite;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;

        &:hover{
          background-color: $colorHoverButton;
        }
      }
    }
  }

  &-copyright_block{
    padding: 0 14.6% 0 14.3%;
    height: 79px;
    background-color: $colorSelectedDarkGray;
    @extend %flexItemsContentCenter;
    justify-content: space-between;

    &-copyright p{
      color: $colorSelectedLightGray;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }

    &-social{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      & a{
        width: 32px;
        height: 32px;
        background-color: #FFF;
        @extend %flexItemsContentCenter;

        &:hover{
          background-color: $colorSelectedPink;
          opacity: 1;
          transition: all .3s ease;
        }
      }

      .link-facebook:hover path, 
      .link-instagram:hover path, 
      .link-pinterest:hover path, 
      .link-twitter:hover path {
        fill: #FFF;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .container{
    width: 100vw;
  }

  .header{
    padding-left: 32px;
    padding-right: 32px;
  }

  .presenter{

    &-photo{
      max-width: 386px;
      max-height: 368px;
   }

   &-header h1 {
    font-size: 24px;
    line-height: 29px;
    }

    &-header h2 {
      font-size: 16px;
      line-height: 17px;
    }

    &__head{
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .content{
    
  }

  .filters{
  }

  .filter{
    left: 0;
  }

  .product{

    justify-content: center;

    &-arrow_right, &-arrow_left{
      position: absolute;
      z-index: $z-indexHeader + 1;
    }

    &-arrow_right{
      right: 0;
    }

    &-arrow_left{
      left: 0;
    }

    &_box{
      &-card{
        width: 100%;
        box-shadow: none;
      }
    }
  }

  .offer{
    &-block{
      padding: 0px 16px;
      gap: 1%;
    }
  }

  .featured{

    &-items{
      padding: 0px 16px;
    }

    &-item{
      width: 48%;
    }

    &-item:last-child{
      display: none;
    }
  }

  .footer{
    &-featers{
      height: auto;
      flex-direction: column;
      gap: 48px;
      padding-top: 48px;
      padding-bottom: 64px;
    }

    &-subscribe{
      flex-direction: column;
      padding-top: 54px;
      padding-bottom: 140px;

      &-info{
        height: 99px;
      }

      &-subscribe_block{
        max-width: 557px;
        height: 137px;
        padding: 0 5%;
        box-sizing: border-box;

        & p{
          margin-bottom: 27px;
        }
      }
    }

    &-copyright_block{
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}

@media screen and (max-width: 426px) {

  .container{
    min-width: 240px;
  }
  
  .header{
    padding-left: 16px;

    &-account, &-cart{
      display: none;
    }
  }

  .burger-menu-block{
    width: 100vw;
    box-sizing: border-box;
  }

  .presenter{

    &__head{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
    }

    &-block{
      height: 363px;
      align-items: center;
      justify-content: center;
    }

    &-photo{
      display: none;
    }

    &-header{
      width: inherit;
      padding-left: 15px;

      & h1{
        font-size: 38px;
        line-height: 46px;
      }

      & h2{
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  .filter{

    &__heading{
      display: none;
    }
  }

  .sort{

    &__catalog{
      margin-left: 9vw;
    }
   
    & summary::before{
      content: '';
      margin-left: .8rem;
    }
  
    & svg{
      padding-left: 0.3rem;
    }
  }

  .offer{
    margin-bottom: 64px;

    &-block{
      padding: 0px 8px;
    }

    &-item {
      width: 100%;
    }

    .accesories{
      height: 111px;
    }
  }

  .featured{
    &-items{
      padding: 0px 8px;
      justify-content: center;
    }

    &-item{
      width: 100vw;
      margin-bottom: 17px;
    }
  }

  .footer
    {
      padding: 0;

      &-featers{
        padding: 48px 32px 81px 32px;

        &-item{
          max-width: 300px;
        }
      }

      &-subscribe-info{
        max-width: 280px;
        padding: 0 8px;
      }

      &-copyright_block{
        min-height: 143px;
        flex-direction: column;

        &-copyright{
          margin-top: 43px;
          margin-bottom: 40px;
        }
      }

      &-subscribe-subscribe_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
      }

      &-subscribe-form {
        & input{
          padding: 0;
          display: flex;
          justify-content: center;
          max-width: 160px;
          text-align: center;
        }

        & button{
          min-width: 75px;
        }
      }

      &-copyright_block-social{
        margin-bottom: 9px;
      }
  }
}




















