*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', serif, sans-serif;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1600px;
  min-width: 375px;
  background: #FFFFFF;
}

.header{
  background: #222222;
  margin: 0 auto;
  padding-left: 14.4%;
  padding-right: 15%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left{
  display: flex;
  align-items: center;
}

.logo{
  margin-right: 40px;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-right a{
  margin: 0px 20px;
}

.header-right img{
  height: 23px;
}

.section-presenter{
  background: #F1E4E6;
  margin-bottom: 65px;
}

.presenter{
  min-width: 1600px;
  min-height: 764px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.presenter-photo{
  height: inherit;
  width: 48%;
}

.presenter-photo img{
  height: inherit;
}

.presenter-header{
  border-left: 12px solid #F16D7F ;
  width: 48%;
  padding: 1%;
}

.presenter-header h1{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #222222;
  
}

.presenter-header h2{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #222222;
}

.presenter-header span{
  color: #F16D7F;
}

.section-offer{

}

.section-products{

}