*{
  margin: 0;
  padding: 0;
}

.center-row{
  display: flex;
  justify-content: center;
}

.conteiner{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
  color: darkslateblue;
  min-height: 100vw;
}

.title{
  padding: 0 5vw;
  height: 100px;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}