*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.center-row{
}

.conteiner{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.title{
  padding: 0 5vw;
  height: 100px;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
}

.users{
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 3%;
  align-items: center;
}

.user{
  padding: 16px 16px;
  min-width: auto 250px;
  max-width:  360px;
  min-height: 290px;
  background-color: #ccc;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user button {
  padding: 1rem 2rem;
  background-color: #e8f9;
  height: 50px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #f10D7F;
  transition: all 0.5s;
  cursor: pointer;
}

.user button:hover{
  color: #fff;
  background-color: red;
  transform: scale(90%, 90%);
}

.user img {
  min-height: auto 220px;
  align-items: center;
}

.heading:nth-child(4){
  margin-top: 30px;
}

.dogs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.dogs img{
  width: 680px;
  transition: all 0.5;
}